body {
    background:#f3f3f3;
    font-family: 'Poppins', sans-serif;
  }
  
  img {
    width: 100%;
    height: 220px;
  }
  
  a {
    color: #e74c3c !important;
  }
  
  button:focus {
    outline: none;
  }
  
  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: #2c3e50;
    height: 90px;
    padding: 30px;
    color: white;
    margin-bottom: 2rem;
  }
  
  .App-title {
    font-size: 1.5em;
  }