* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cardBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.cards {
    width: 300px;
    height: 300px;
    padding: 10px;
}